.ptr-container {
	position: relative;
}

.ptr-indicator {
	opacity: var(--ptr-indicator-opacity, 0);
	transform: translate(-50%, var(--ptr-indicator-translate, -16px));
	transition: opacity 150ms ease-out, transform 150ms ease-out;
}

.ptr-content {
	transition: transform 200ms ease-out;
}

.ptr-content--translated {
	transform: translateY(var(--ptr-content-translate, 0));
}

.ptr-content--dragging {
	transition: none;
}

.ptr-progress-bar {
	width: var(--ptr-progress-width, 12%);
	transition: width 150ms ease-out;
}
