{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {% if debug %}
      <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" />
      <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" />
    {% else %}
      <link rel="icon" type="image/png" href="/favicon.png" />
      <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="wut up" />
    <meta name="theme-color" content="#42b883" />
    <title>wut up</title>
    <!-- <link rel="stylesheet" href="https://rsms.me/inter/inter.css" /> -->
  </head>
  <body class="antialiased text-gray-900 dark:text-white dark:bg-gray-800">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>

{% if debug %}
  <!-- development -->
  <script type="module">
    import RefreshRuntime from 'http://localhost:5173/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  </script>
  <script type="module" src="http://localhost:5173/@vite/client"></script>
  <script type="module" src="http://localhost:5173/src/main.tsx"></script>
{% endif %}

  </body>
</html>

